.projects-background {
  padding: 80px 150px;
}

.box {
  text-align: center;
  border: 1px solid black;
  height: auto;
  width: 100%;
  padding: 10px;
  background-color: #1f2325;
}

@media only screen and (max-width: 600px) {
  .projects-background {
    padding: 5% 10% 5% 10%;
  }
}
