.contact-background {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.form {
  text-align: center;
}

.label {
  text-decoration: underline;
  font-weight: bold;
}
.grid {
  background-color: rgb(123, 174, 229, 0.7);
  border: 1px solid black;
}
