.contact-background {
  height: 100%;
  width: 100%;
  padding: 5% 30%;
}

.grid {
  display: flex;
  flex-direction: column;
  background-color: rgb(123, 174, 229, 0.7);
  border: none;
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
}

.input {
  color: rgb(255, 251, 235);
  background-color: rgba(37, 37, 63, 0.5);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  height: 30px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.75);
}

::placeholder {
  color: rgba(255, 251, 235, 0.8);
  font-size: small;
}

.msg {
  padding: 15px;
  height: 100px;
}

.btn {
  background-color: rgb(37, 37, 63);
  color: rgb(255, 251, 235);
  width: 80%;
  height: 30px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.75);
}

.thank {
  background-color: rgba(37, 37, 63, 0.5);
  color: rgb(255, 251, 235);
  font-size: large;
  text-decoration: underline;
  padding: 5px;
  margin-left: 10%;
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .contact-background {
    height: 100%;
    width: 100%;
    padding: 10% 20%;
  }

  .grid {
    display: flex;
    flex-direction: column;
    background-color: rgb(123, 174, 229, 0.7);
    border: none;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
  }

  .input {
    text-align: center;
    width: 80%;
    height: 30px;
  }

  .msg {
    height: 100px;
  }

  .btn {
    width: 80%;
  }
}
