.testimonials-background {
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 80px 150px;
  text-align: center;
  overflow-x: hidden;
}

.carousel {
  display: inline-block;
  background-color: rgba(31, 35, 37, 0.5);
  padding: 5%;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
}

.t-head {
  color: #0878be;
  font-size: x-large;
  font-weight: bold;
}

.t-title {
  color: #5facdc;
}

.msg {
  font-size: medium;
  color: #c6cccf;
}

@media only screen and (max-width: 768px) {
  .testimonials-background {
    padding: 10%;
  }

  .carousel {
    width: 100%;
  }
}
