.testimonials-background {
  height: 100%;
  width: 100%;
  padding: 80px 150px;
  text-align: center;
  overflow-x: hidden;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(31, 35, 37, 0.5);
  padding: 5%;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
}

.slider {
  height: 250px;
}

.t-head {
  color: #0878be;
  font-size: x-large;
  font-weight: bold;
}

.t-title {
  color: #5facdc;
}

.msgs {
  font-size: medium;
  color: #c6cccf;
  height: auto;
}

.t-btn {
  background: none;
  margin: 5px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 0;
  border: none;
}

.arrow {
  border-radius: 50%;
  font-size: 30px;
  margin: 0;
  color: #c6cccf;
  background-color: rgba(31, 35, 37, 0.5);
}

@media only screen and (max-width: 768px) {
  .testimonials-background {
    padding: 10%;
  }

  .carousel {
    display: block;
    width: 100%;
  }

  .slider {
    height: 85vh;
  }

  .t-btn {
    display: none;
  }

  .arrow {
    display: none;
  }
}
