.about-background {
  height: 100%;
  width: 100%;
  padding: 80px 150px;
}

.about-heading {
  text-align: center;
}

.details {
  color: #0878be;
}

.about-grid {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .about-background {
    padding: 10%;
  }

  .profile-img {
    width: 100%;
  }
}
