.about-background {
  height: 100%;
  width: 100%;
  padding: 80px 150px;
}

.about-heading {
  text-align: center;
}

.details {
  color: #c3cccf;
}

.title {
  color: #0878be;
}

.about-grid {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.profile-img {
  width: 100%;
}

.planet {
  height: 35px;
  width: 35px;
}

.flip {
  transform: scaleX(-1);
}

.icons {
  font-size: large;
  width: 12%;
}

.bar-font {
  font-family: Arial, Helvetica, sans-serif;
  margin: 3px;
}

.shuttle {
  color: #2f3136;
  background-color: #0878be;
  border-radius: 20px;
  text-align: right;
  margin-left: 5px;
}

.bar-border {
  text-align: left;
  padding-left: 10px;
  border: 1px solid #0878be;
  border-radius: 20px;
}

.html {
  width: 82%;
}

.css {
  width: 80%;
}

.javascript {
  width: 70%;
}

.python {
  width: 70%;
}

.bootstrap {
  width: 80%;
}

.react {
  width: 55%;
}

@media only screen and (max-width: 768px) {
  .about-background {
    padding: 10%;
  }

  .profile-img {
    width: 100%;
  }
}
