.about-background {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.about-heading {
  text-align: center;
}

h3 {
  margin: 0 0 0 10px;
  color: #0878be;
}

.bar {
  border-radius: 20px;
  height: 100%;
  opacity: 0.9;
}

.html {
  background-color: #d4531c;
  width: 90%;
}

.css {
  background-color: #1b8cbd;
  width: 85%;
}

.javascript {
  background-color: #e2bd27;
  width: 75%;
}

.python {
  background-color: #ce1b0e;
  width: 68%;
}

.react {
  background-color: #664394;
  width: 40%;
}
